.contact {
  background: url("../../assets/prototype/contact.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 70%; */
  height: 100vh;
  margin: 0 auto;
  color: #fe6080;
}

.contact--form {
  opacity: 0.8;
}

.contact--form > form {
  display: grid;
  grid-template-columns: 200px 200px;
}

.modal--message_heading {
  color: #525151;
}

@media (max-width: 1162px) {
  .contact--form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .contact {
    background: #f1eff2;
  }
}
