@import url("https://fonts.cdnfonts.com/css/third-street");
.navbar {
  margin-right: 1.25rem;
}

.navbar--links {
  padding: 0 0.3rem;
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1.1rem;
}

.navbar--links:hover {
  color: rgb(112, 111, 111);
  transition: ease-in-out 0.5s;
}

.active {
  border-bottom: grey 3px solid;
  border-radius: 3px;
  color: rgb(112, 111, 111);
}
