.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 13px 9px;
  box-sizing: border-box;
  margin: 30px auto;
  max-width: 550px;
  height: 100%;
  justify-items: center;
}

.gallery--images {
  box-shadow: 8px 17px 20px rgb(194, 193, 193);
  padding: 10px;
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery--images:hover {
  cursor: pointer;
  transition: all 0.5s ease-in;
  transform: scale(1.02);
}

.gallery_load {
  width: 70px;
  height: 70px;
}

.gallery--des--btn {
  display: flex;
  justify-content: space-between;
  width: 68vw;
  margin: 15px auto;
}

.gallery--attrib:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: all 0.4s ease-in;
}

.gallery--prev_btn,
.gallery--next_btn {
  padding: 10px;
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70%;
  }
}

@media (max-width: 700px) {
  .gallery {
    max-width: 450px;
    min-width: 320px;
  }
}
