/* ME */
/* @import url("https://fonts.cdnfonts.com/css/third-street"); */
@import url("https://fonts.cdnfonts.com/css/cabin-sketch");
@import url("https://fonts.cdnfonts.com/css/kg-broken-vessels-sketch");

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap"); */

/* Client styling */

.main-root {
  /* font-family: "Third Street", sans-serif; */
  font-family: "KG Broken Vessels Sketch", sans-serif;
  z-index: 1;
}

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(103, 101, 101, 0.4);
  backdrop-filter: blur(3px);
}
